# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
coverage
packages/web/element-plus/version.ts

# local env files
*.local
.eslintcache
cypress/screenshots/*
cypress/videos/*
tmp

.eslintcache
