.vscode
.idea
node_modules
.DS_Store
dist
*.local
lerna-debug.json
lerna-debug.log
yarn-error.log
storybook-static
coverage/
website-dist
lib
website/play/index.vue
packages/element-plus/version.ts
/es/
