@use 'mixins/mixins' as *;
@use 'mixins/utils' as *;
@use 'common/var' as *;

@import 'affix';

@include b(anchor) {
  position: relative;

  @include set-css-var-value('anchor-link-height', '28px');

  @include e(slider) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: getCssVar('border-color-lighter');
  }

  @include e(slider-bar) {
    position: absolute;
    height: 28px;
    width: 2px;
    background-color: getCssVar('color-primary');
    left: 0;
    top: 0;
    transition: opacity getCssVar('transition-duration-fast') ease-in-out,
      top getCssVar('transition-duration-fast') ease-in-out;
  }

  @include e(link) {
    margin-left: 12px;
    font-size: 14px;
    line-height: 22px;

    & .#{$namespace}-anchor__link {
      margin-left: 10px;
    }

    @include when(active) {
      & > .#{$namespace}-anchor__link-title {
        color: getCssVar('color-primary');
      }
    }
  }

  @include e(link-title) {
    cursor: pointer;
    color: getCssVar('text-color-secondary');
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 0;

    &:hover,
    &:focus {
      color: getCssVar('text-color-regular');
    }
  }
}
