@import 'affix';
@import "mixins/mixins";

@include b(anchor) {
  position: relative;
  @include e(link) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: var(--el-link-font-size);
    font-weight: var(--el-link-font-weight);
    color: var(--el-link-default-font-color);

    &:hover {
      color: var(--el-link-default-active-colo)r
    }
    &:after {
      border-color: var(--el-link-default-active-colo)r
    }
    &.is-active {
      color: var(--el-link-default-active-color);
    }
  }
}
