@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(avatar-group) {
  display: inline-flex;

  .#{$namespace}-avatar {
    border: 1px solid getCssVar('border-color-extra-light');
  }

  .#{$namespace}-avatar:not(:first-child) {
    margin-left: map.get($avatar-group, 'item-gap');
  }

  @include e(collapse-avatars) {
    .#{$namespace}-avatar:not(:first-child) {
      margin-left: map.get($avatar-group, 'collapse-item-gap');
    }
  }
}
