@import 'mixins/mixins';
@import 'mixins/var';
@import 'common/var';

@include b(backtop) {
  @include set-component-css-var('backtop', $--backtop);

  position: fixed;
  background-color: var(--el-backtop-background-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--el-backtop-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  z-index: 5;

  &:hover {
    background-color: var(--el-backtop-hover-background-color);
  }
}
