@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/function' as *;
@use 'common/var' as *;

@include b(check-tag) {
  background-color: getCssVar('color', 'info', 'light-9');
  border-radius: var(--el-border-radius-base);
  color: var(--el-color-info);
  cursor: pointer;
  display: inline-block;
  font-size: var(--el-font-size-base);
  line-height: var(--el-font-size-base);
  padding: 7px 15px;
  transition: var(--el-transition-all);
  font-weight: bold;

  &:hover {
    background-color: getCssVar('color', 'info', 'light-7');
  }

  @include when(checked) {
    background-color: getCssVar('color', 'primary', 'light-8');
    color: getCssVar('color', 'primary', 'light-1');
    &:hover {
      background-color: getCssVar('color', 'primary', 'light-7');
    }
  }
}
