@import 'mixins/mixins';
@import 'common/var';
@import 'descriptions-item';

@include b(descriptions) {
  box-sizing: border-box;
  font-size: $--font-size-base;
  color: $--color-text-primary;

  @include e(header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $--descriptions-header-margin-bottom;

    @include e(title) {
      font-size: $--descriptions-title-font-size;
      font-weight: bold;
    }
  }

  @include e(body) {
    color: $--color-text-regular;
    background-color: $--color-white;

    table {
      border-collapse: collapse;
      width: 100%;

      &.is-bordered {
        tr, td {
          border: $--descriptions-table-border
        }
      }

      td {
        padding: 12px 10px;
      }

      @include m(medium) {
        td {
          padding: 10px;
        }
      }

      @include m(small) {
        font-size: 12px;
        td {
          padding: 8px 10px;
        }
      }

      @include m(mini) {
        font-size: 12px;
        td {
          padding: 6px 10px;
        }
      }
    }
  }
}
