@use 'common/var' as *;
@use 'mixins/mixins' as *;

@include b(divider) {
  position: relative;

  @include m(horizontal) {
    display: block;
    height: 1px;
    width: 100%;
    margin: 24px 0;
    border-top: 1px getCssVar('border-color') getCssVar('border-style');

    @include when(with-text) {
      display: flex;
      align-items: center;
      border-top: none;
    }
  }

  @include m(vertical) {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    position: relative;
    border-left: 1px getCssVar('border-color') getCssVar('border-style');
  }

  @include e(line) {
    height: 1px;
    border-top: 1px getCssVar('border-color') getCssVar('border-style');
  }

  @include e(text) {
    padding: 0 20px;
    font-weight: 500;
    color: getCssVar('text-color', 'primary');
    font-size: 14px;
    flex-shrink: 0;
  }

  @include when(with-text) {
    @include e(line) {
      &.is-full {
        flex: 1;
      }

      &.is-short {
        flex: 0 0 20px;
      }
    }
  }
}
