@import 'mixins/mixins';
@import 'common/var';

:root {
  --el-header-padding: 0 20px;
  --el-header-height: 60px;
}

@include b(header) {
  padding: var(--el-header-padding);
  box-sizing: border-box;
  flex-shrink: 0;
  height: var(--el-header-height);
}
