@use "sass:map";

@import 'mixins/mixins';
@import 'common/var';

@include b(message) {
  min-width: $--message-min-width;
  box-sizing: border-box;
  border-radius: $--border-radius-base;
  border-width: $--border-width-base;
  border-style: $--border-style-base;
  border-color: var(--el-border-color-lighter);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: $--message-background-color;
  transition: opacity 0.3s, transform 0.4s, top 0.4s;
  overflow: hidden;
  padding: $--message-padding;
  display: flex;
  align-items: center;

  @include when(center) {
    justify-content: center;
  }

  @include when(closable) {
    .#{$namespace}-message__content {
      padding-right: 16px;
    }
  }

  p {
    margin: 0;
  }

  @include m(info) {
    .#{$namespace}-message__content {
      color: $--message-info-font-color;
    }
  }

  @include m(success) {
    background-color: map.get($--colors, 'success', 'lighter');
    border-color: map.get($--colors, 'success', 'light');

    .#{$namespace}-message__content {
      color: $--message-success-font-color;
    }
  }

  @include m(warning) {
    background-color: map.get($--colors, 'warning', 'lighter');
    border-color: map.get($--colors, 'warning', 'light');

    .#{$namespace}-message__content {
      color: $--message-warning-font-color;
    }
  }

  @include m(error) {
    background-color: map.get($--colors, 'danger', 'lighter');
    border-color: map.get($--colors, 'danger', 'light');

    .#{$namespace}-message__content {
      color: $--message-danger-font-color;
    }
  }

  @include e(icon) {
    margin-right: 10px;
  }

  @include e(content) {
    padding: 0;
    font-size: 14px;
    line-height: 1;
    &:focus {
      outline-width: 0;
    }
  }

  @include e(closeBtn) {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: $--message-close-icon-color;
    font-size: var(--el-message-close-size);

    &:focus {
      outline-width: 0;
    }
    &:hover {
      color: $--message-close-hover-color;
    }
  }

  & .#{$namespace}-icon-success {
    color: $--message-success-font-color;
  }

  & .#{$namespace}-icon-error {
    color: $--message-danger-font-color;
  }

  & .#{$namespace}-icon-info {
    color: $--message-info-font-color;
  }

  & .#{$namespace}-icon-warning {
    color: $--message-warning-font-color;
  }
}

.#{$namespace}-message-fade-enter-from,
.#{$namespace}-message-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
