@import "mixins/mixins";
@import "common/var";

@include b(overlay) {
  #{& + '-root'} {
      height: 0;
  }
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}
