@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(popconfirm) {
  @include e(main) {
    display: flex;
    align-items: center;
  }
  @include e(icon) {
    margin-right: 5px;
  }
  @include e(action) {
    text-align: right;
    margin: 0;
  }
}
