@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(popconfirm) {
  @include e(main) {
    display: flex;
    align-items: flex-start;
  }

  @include e(icon) {
    margin-right: 5px;
    margin-top: 3px;
  }

  @include e(action) {
    text-align: right;
    margin-top: 8px;
  }
}