@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(radio-group) {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0;

  @include m(vertical) {
    &:not(:has(.#{$namespace}-radio-button)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
