@use "sass:map";

@import 'mixins/mixins';
@import 'mixins/_button';
@import 'common/var';

@include b(radio-button) {
  position: relative;
  display: inline-block;
  outline: none;

  @include e(inner) {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    background: $--button-default-background-color;
    border: $--border-base;
    font-weight: $--button-font-weight;
    border-left: 0;
    color: $--button-default-font-color;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: $--all-transition;

    @include button-size(
      map.get($--button-padding-vertical, 'default'),
      map.get($--button-padding-horizontal, 'default'),
      map.get($--button-font-size, 'default'),
      0
    );

    &:hover {
      color: $--color-primary;
    }

    & [class*='#{$namespace}-icon-'] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  &:first-child {
    .#{$namespace}-radio-button__inner {
      border-left: $--border-base;
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }

  @include e(orig-radio) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;

    &:checked {
      & + .#{$namespace}-radio-button__inner {
        color: $--radio-button-checked-font-color;
        background-color: $--radio-button-checked-background-color;
        border-color: $--radio-button-checked-border-color;
        box-shadow: -1px 0 0 0 $--radio-button-checked-border-color;
      }
    }

    &:disabled {
      & + .#{$namespace}-radio-button__inner {
        color: $--button-disabled-font-color;
        cursor: not-allowed;
        background-image: none;
        background-color: $--button-disabled-background-color;
        border-color: $--button-disabled-border-color;
        box-shadow: none;
      }
      &:checked + .#{$namespace}-radio-button__inner {
        background-color: $--radio-button-disabled-checked-fill;
      }
    }
  }

  &:last-child {
    .#{$namespace}-radio-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }

  &:first-child:last-child {
    .#{$namespace}-radio-button__inner {
      border-radius: $--border-radius-base;
    }
  }

  @each $size in (medium, small, mini) {
    @include m($size) {
      & .#{$namespace}-radio-button__inner {
        @include button-size(
          map.get($--button-padding-vertical, $size),
          map.get($--button-padding-horizontal, $size),
          map.get($--button-font-size, $size),
          0
        );
      }
    }
  }

  &:focus:not(.is-focus):not(:active):not(.is-disabled) {
    /*获得焦点时 样式提醒*/
    box-shadow: 0 0 2px 2px $--radio-button-checked-border-color;
  }
}
