@import 'mixins/mixins';
@import 'common/var';

:root {
  --el-scrollbar-opacity: 0.3;
  --el-scrollbar-background-color: var(--el-text-color-secondary);
  --el-scrollbar-hover-opacity: 0.5;
  --el-scrollbar-hover-background-color: var(--el-text-color-secondary);
}

@include b(scrollbar) {
  overflow: hidden;
  position: relative;
  height: 100%;

  @include e(wrap) {
    overflow: auto;
    height: 100%;

    @include m(hidden-default) {
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  @include e(thumb) {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: var(--el-scrollbar-background-color);
    transition: var(--el-transition-duration) background-color;
    opacity: var(--el-scrollbar-opacity);

    &:hover {
      background-color: var(--el-scrollbar-hover-background-color);
      opacity: var(--el-scrollbar-hover-opacity);
    }
  }

  @include e(bar) {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;

    @include when(vertical) {
      width: 6px;
      top: 2px;

      > div {
        width: 100%;
      }
    }

    @include when(horizontal) {
      height: 6px;
      left: 2px;

      > div {
        height: 100%;
      }
    }
  }
}

.#{$namespace}-scrollbar-fade-enter-active {
  transition: opacity 340ms ease-out;
}

.#{$namespace}-scrollbar-fade-leave-active {
  transition: opacity 120ms ease-out;
}

.#{$namespace}-scrollbar-fade-enter-from,
.#{$namespace}-scrollbar-fade-leave-active {
  opacity: 0;
}
