@import 'mixins/mixins';
@import 'mixins/utils';
@import 'common/var';
@import 'select-dropdown-v2';
@import 'input';
@import 'tag';
@import 'option-item';
@import 'option-group';
@import 'scrollbar';

$--input-inline-start: 7px !default;

@include b(select-v2) {
  display: inline-block;
  position: relative;

  @include e(wrapper) {
    box-sizing: border-box;
    cursor: text;

    padding-left: 15px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid $--border-color-base;
    border-radius: $--border-radius-base;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);

    &:hover {
      border-color: $--color-text-placeholder;
    }

    @include when(focused) {
      border-color: $--color-primary;
    }

    .#{$namespace}-select-v2__input-wrapper {
      box-sizing: border-box;
      position: relative;
      padding-bottom: 2px;
      margin-inline-start: $--input-inline-start;
      padding-top: 2px;
      max-width: 100%;
      overflow: hidden;
    }

    &, .#{$namespace}-select-v2__input-wrapper {
      line-height: $--input-height;
      // height: $--input-height;
    }

    .#{$namespace}-select-v2__input-wrapper input {
      line-height: $--input-medium-height;
      height: $--input-medium-height;

      min-width: 4px;
      width: 100%;

      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: 0 0;
      border: none;

      margin: 0;
      outline: none;
      padding: 0;

    }
  }

  @include e(popper) {
    @include picker-popper(
      $--select-dropdown-background,
      $--select-dropdown-border,
      $--select-dropdown-shadow,
    );
  }

  @include m(mini) {
    @include e(wrapper) {
      &, .#{$namespace}-select-v2__input-wrapper {
        // since there were no 24px predefined, we can only hand write here.
        line-height: $--input-mini-height;
        // height: $--input-mini-height;
      }

      .#{$namespace}-select-v2__input-wrapper input {
        line-height: 24px;
        height: 24px;
      }
    }
  }

  @include m(small) {
    @include e(wrapper) {
      &, .#{$namespace}-select-v2__input-wrapper {
        line-height: $--input-small-height;
        // height: $--input-small-height;
      }

      .#{$namespace}-select-v2__input-wrapper input {
        line-height: $--input-mini-height;
        height: $--input-mini-height;
      }
    }
  }

  @include m(medium) {
    @include e(wrapper) {
      &, .#{$namespace}-select-v2__input-wrapper {
        line-height: $--input-medium-height;
        // height: $--input-medium-height;
      }

      .#{$namespace}-select-v2__input-wrapper input {
        line-height: $--input-small-height;
        height: $--input-small-height;
      }
    }
  }

  .#{$namespace}-select-v2__selection > span {
    display: inline-block;
  }

  &:hover {
    .#{$namespace}-select-v2__combobox-input {
      border-color: $--select-border-color-hover;
    }
  }

  .#{$namespace}-select__selection-text {
    text-overflow: ellipsis;
    display: inline-block;
    overflow-x: hidden;
    vertical-align: bottom;
  }

  .#{$namespace}-select-v2__combobox-input {
    padding-right: 35px;
    display: block;

    &:focus {
      border-color: $--select-input-focus-border-color;
    }
  }

  .#{$namespace}-input {
    display: block;

    & .#{$namespace}-select-v2__caret {
      color: $--select-input-color;
      font-size: $--select-input-font-size;
      transition: transform 0.3s;
      transform: rotateZ(180deg);
      cursor: pointer;

      @include when(reverse) {
        transform: rotateZ(0deg);
      }

      @include when(show-close) {
        font-size: $--select-font-size;
        text-align: center;
        transform: rotateZ(180deg);
        border-radius: $--border-radius-circle;
        color: $--select-input-color;
        transition: $--color-transition-base;

        &:hover {
          color: $--select-close-hover-color;
        }
      }
    }

    &.is-disabled {
      & .#{$namespace}-input__inner {
        cursor: not-allowed;

        &:hover {
          border-color: $--select-disabled-border;
        }
      }
    }

    &.is-focus .#{$namespace}-input__inner {
      border-color: $--select-input-focus-border-color;
    }
  }

  @include e(input) {
    border: none;
    outline: none;
    padding: 0;
    margin-left: 15px;
    color: $--select-multiple-input-color;
    font-size: $--select-font-size;
    appearance: none;
    height: 28px;

    @include when(mini) {
      height: 14px;
    }
  }

  @include e(close) {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: $--index-top;
    right: 25px;
    color: $--select-input-color;
    line-height: 18px;
    font-size: $--select-input-font-size;

    &:hover {
      color: $--select-close-hover-color;
    }
  }

  @include e(selection) {
    white-space: normal;
    z-index: $--index-normal;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .#{$namespace}-tag {
      box-sizing: border-box;
      border-color: transparent;
      margin: 2px 0 2px 6px;
      background-color: #f0f2f5;
    }
  }

  @include e(wrapper) {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: $--border-radius-base;
    position: relative;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
  }

  @include e(input-calculator) {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    white-space: pre;
    z-index: 999;
  }

  @include e(selected-item) {
    line-height: inherit;
    height: inherit;
  }

  @include e(placeholder) {
    position: absolute;
    top: 1px;
    margin-inline-start: $--input-inline-start;
    @include when(transparent) {
      opacity: 0.3;
    }
  }

  .#{$namespace}-tag__close {
    margin-top: -2px;
  }

  .#{$namespace}-select__selection .#{$namespace}-tag {
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: #f0f2f5;

    .#{$namespace}-icon-close {
      background-color: $--color-text-placeholder;
      right: -7px;
      top: 0;
      color: $--color-white;

      &:hover {
        background-color: $--color-text-secondary;
      }

      &::before {
        display: block;
        transform: translate(0, 0.5px);
      }
    }
  }
}
