@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(statistic) {
  @include set-component-css-var('statistic', $statistic);
}

@include b(statistic) {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';

  .head {
    padding: 0 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.01px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content:center ;
    color: #606266;
  }

  .con {
    display: flex;
    justify-content: center;
    align-items: center ;
  padding-top: 8px;
    .number {
      font-style: normal;
      padding: 0 5px;
      font-family: sans-serif;
    }
    span {
      font-weight: 400;
      color: #303133;
      font-size: 20px;
      display: inline-block;
      margin: 0;
      line-height: 100%;
    }
  }
}
