@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(statistic) {
  @include set-component-css-var('statistic', $statistic);
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  @include e(head) {
    padding: getCssVar('statistic-padding');
    font-style: normal;
    font-weight: 400;
    font-size: getCssVar('font-size', 'base');
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: getCssVar('statistic-head-justify-content');
    color: getCssVar('statistic-head-text-color');
  }
  @include e(content) {
    display: flex;
    justify-content: getCssVar('statistic-content-justify-content');
    align-items: center;
    padding-top: getCssVar('statistic-content-margin-top');
    @include e(number) {
      font-style: normal;
      padding: getCssVar('statistic-padding');
      font-family: sans-serif;
    }
    span {
      font-weight: 400;
      color: getCssVar('statistic-content-text-color');
      font-size: getCssVar('font-size', 'extra-large');
      display: inline-block;
      margin: 0;
      line-height: 100%;
    }
  }
}
