@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(table-v2) {
  display: flex;

  &__row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--el-border-color-base);

  }

  &__cell {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 0;
    height: 100%;
  }
}
