@use 'sass:map';

// CSS3 var
@use 'common/var' as *;
@use 'mixins/var' as *;

// for better performance do not dynamically change the root variable if you really
// do not need that, since this could introduce recalculation overhead for rendering.
// https://lisilinhart.info/posts/css-variables-performance/

:root {
  color-scheme: light;

  --el-color-white: #{$color-white};
  --el-color-black: #{$color-black};

  --el-color-primary: #{$color-primary};

  // get rgb
  @each $type in (primary, success, warning, danger, error, info) {
    @include set-css-color-rgb($type);
  }

  @for $i from 1 through 9 {
    @include set-css-color-type-light('primary', $i);
  }
  --el-color-primary-dark-2: #{map.get($colors, 'primary', 'dark-2')};

  // --el-color-#{$type}
  // --el-color-#{$type}-light-{$i}
  @each $type in (success, warning, danger, error, info) {
    @include set-css-color-type($type);
  }

  // color-scheme
  // Background --el-bg-color-#{$type}
  @include set-component-css-var('bg-color', $bg-color);
  // --el-text-color-#{$type}
  @include set-component-css-var('text-color', $text-color);
  // --el-border-color-#{$type}
  @include set-component-css-var('border-color', $border-color);
  // Fill --el-fill-color-#{$type}
  @include set-component-css-var('fill-color', $fill-color);

  // --el-border-radius-#{$type}
  @include set-component-css-var('border-radius', $border-radius);
  // Typography
  @include set-component-css-var('font-size', $font-size);
  // Box-shadow
  // --el-box-shadow-#{$type}
  @include set-component-css-var('box-shadow', $box-shadow);
  // Disable base
  @include set-component-css-var('disabled', $disabled);
  // z-index --el-index-#{$type}
  @include set-component-css-var('index', $z-index);

  // Border
  --el-border-width: #{$border-width};
  --el-border-style: #{$border-style};
  --el-border-color-hover: #{$border-color-hover};
  --el-border: var(--el-border-width) var(--el-border-style)
    var(--el-border-color);

  // Svg
  --el-svg-monochrome-grey: #dcdde0;

  --el-font-weight-primary: 500;
  --el-font-line-height-primary: 24px;

  // z-index

  /* Transition
-------------------------- */
  // refer to this website to get the bezier motion function detail
  //  https://cubic-bezier.com/#p1,p2,p3,p4 (change px as your function parameter)
  @include set-component-css-var('transition-duration', $transition-duration);

  @include set-component-css-var('transition-function', $transition-function);
  @include set-component-css-var('transition', $transition);
}
