@import "mixins/mixins";
@import "common/var";

@include b(vl) {
  @include e(viewport) {
    overflow: auto;
  }

  @include e(content) {
    overflow: hidden;
    will-change: transform;
    position: relative;
  }

  @include e(item-container) {
    will-change: transform; 
    display: flex;

    &[data-direction="v"] {
      flex-direction: column;
    }

    &[data-direction="h"] {
      flex-direction: row;
    }
  }
}