@use '../mixins/mixins' as *;

// same style in select & select-v2
@mixin select-common($name) {
  .#{$namespace}-#{$name}__tags-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
  }
}
