@import '../vars.scss';
@import '../mixins.scss';
@import './search.scss';

.nav-bar {
  position: relative;
  top: 0px;
  height: var(--header-height);
  width: 100%;
  line-height: var(--header-height);
  z-index: var(--header-z-index);

  .nav-wrapper {
    @include with-bg;
    @include with-border;
    position: relative;
    padding: 10px;
    height: var(--header-height);

    .header-container {
      height: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .nav-action-items {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;

      > div {
        line-height: 1;
      }

      .nav-menu {
        display: flex;
      }

      .action-icons {
        display: flex;
      }

      .header-icon {
        font-size: 24px;
        line-height: 24px;
        margin: 0 8px;
        &,
        & a {
          color: var(--text-color-light);
          &:hover {
            color: var(--text-color);
          }
        }
      }
    }
  }

  .icon-link {
    text-decoration: none;
    display: flex;
    align-items: center;

    .logo {
      font-size: 28px;
      color: var(--brand-color);
    }
    .nav-logo {
      width: 128px;
    }
  }

  .theme-switcher {
    @include with-bg;
    border-radius: 50%;

    .el-icon {
      position: relative;
      cursor: pointer;
    }

    .dark-icon,
    .light-icon {
      transition: color var(--el-transition-duration),
        opacity var(--el-transition-duration);
    }

    &.is-dark {
      .dark-icon {
        opacity: 1;
      }

      .light-icon {
        opacity: 0;
      }
    }

    .light-icon {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
    }

    .dark-icon {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .translations {
    position: relative;

    .translation-icon {
      &:hover .dropdown-content {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    .dropdown-content {
      position: absolute;
      top: 24px;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4px);
      transition: opacity 0.25s, visibility 0.25s, transform 0.25s;

      ul {
        border-radius: 8px;
        padding: 12px 0;
        min-width: 100px;
        border: 1px solid transparent;
        background: var(--bg-color);
        box-shadow: var(--el-box-shadow-light);
        transition: background-color 0.5s;
        list-style: none;
        text-align: left;
        margin: 0;

        li {
          z-index: var(--dropdown-z-index);

          cursor: pointer;
          transition: all var(--el-transition-duration);
          font-size: 13px;
          color: var(--text-color-light);
          font-style: normal;
          padding: 0 12px;
          &:hover,
          &.selected {
            color: var(--brand-color);
          }
        }
      }
    }
  }

  @media screen and (min-width: #{$breakpoint-lg}) {
    .header-container {
      padding: 0.7rem 0;
    }

    .header h1 {
      line-height: inherit;
      margin: 0;
      font-size: 32px;
      font-weight: normal;
    }
  }

  @media (max-width: 1044px) {
    .header {
      .nav {
        display: none;
      }
      .nav-item {
        margin-left: 6px;

        &.lang-item,
        &:last-child {
          margin-left: 10px;
        }

        a {
          padding: 0 5px;
        }
      }
    }
  }

  @include respond-to('lg') {
    position: sticky;

    .header-container {
      padding: 0 2rem;
    }
  }

  @media screen and (min-width: #{$breakpoint-md}) {
  }
}

.sub-nav {
  @include with-border;
  @include with-bg;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: var(--sub-nav-z-index);
  overflow: hidden;

  .sidebar-button,
  .go-back-top {
    padding: 0 16px;
  }

  .go-back-top {
    transform: translateY(100%);
    opacity: 0;

    &.show {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @include respond-to('lg') {
    display: none;
  }
}
