.page {
  --toc-width: 244px;
  padding-top: var(--header-height);
  position: relative;
  display: flex;
  .content-wrapper {
    padding: 0 2rem 4rem;
    margin: 0 auto;
    max-width: var(--content-max-width);
    min-width: var(--content-min-width);

    .content {
      padding-bottom: 1.5rem;
    }
  }

  .toc-content {
    position: sticky;
    top: calc(var(--header-height) + 32px);
    margin-top: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    margin-bottom: 32px;
    width: var(--toc-width);

    &__heading {
      margin-top: 0;
    }
  }

  // for screen size bigger than 272(sidebar) + 768(main content) + 244(TOC), we should
  // allow the toc size to grow
  // @media screen and (min-width: 1284px) {
  //   .toc-content {
  //     max-width: calc(100vw - var(--sidebar-width) - var(--content-max-width));
  //   }
  // }
}
