@use "sass:map";

@import '../common/var';

@mixin button-plain($color, $type) {
  color: $color;
  background: var(--el-color-#{$type}-light-9);
  border-color: var(--el-color-#{$type}-light-6);

  &:hover,
  &:focus {
    background: $color;
    border-color: $color;
    color: $--color-white;
  }

  &:active {
    background: var(--el-color-#{$type}-active);
    border-color: var(--el-color-#{$type}-active);
    color: var(--el-color-white);
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: var(--el-color-#{$type}-light-4);
      background-color: var(--el-color-#{$type}-light-9);
      border-color: var(--el-color-#{$type}-light-8);
    }
  }
}

@mixin button-variant($color, $background-color, $border-color, $type) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  &:hover,
  &:focus {
    background: var(--el-color-#{$type}-light-2);
    border-color: var(--el-color-#{$type}-light-2);
    color: $color;
  }

  &:active {
    background: mix(
      $--color-black,
      $background-color,
      $--button-active-shade-percent
    );
    border-color: mix(
      $--color-black,
      $border-color,
      $--button-active-shade-percent
    );
    color: $color;
    outline: none;
  }

  &.is-active {
    background: mix(
      $--color-black,
      $background-color,
      $--button-active-shade-percent
    );
    border-color: mix(
      $--color-black,
      $border-color,
      $--button-active-shade-percent
    );
    color: $color;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $--color-white;
      background-color: var(--el-color-#{$type}-light-5);
      border-color: var(--el-color-#{$type}-light-5);
    }
  }

  &.is-plain {
    @include button-plain($background-color, $type);
  }
}

@mixin button-size(
  $padding-vertical,
  $padding-horizontal,
  $font-size,
  $border-radius
) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}
