@use '../mixins' as *;
@use './table-of-content';

.doc-content-wrapper {
  --vp-content-width: 800px;

  padding: 32px 24px 96px;

  .doc-content-container {
    .doc-content {
      width: 100%;
    }

    @include respond-to('xxl') {
      width: var(--vp-content-width);
    }
  }

  @include respond-to('md') {
    padding: 48px 32px 42px;
  }
  @include respond-to('lg') {
    padding: 64px 64px 42px;
  }
  @include respond-to('xxl') {
    padding: 64px 0 42px 64px;
    display: flex;
  }
  @include respond-to('max') {
    padding: 64px 0 42px 96px;
    display: flex;
  }
}
