<template>
  <div class="play-container">
    <el-icon color="#409EFC">
      <check />
    </el-icon>
    <el-icon>
      <MenuIcon />
    </el-icon>
    <ElButton>test</ElButton>
    <div v-loading="true"></div>
  </div>
</template>

<script setup lang="ts">
import { Check, Menu as MenuIcon } from "@element-plus/icons";
// code here
</script>

<style lang="scss">
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  #play {
    height: 100%;
    width: 100%;
    .play-container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>
