@use './mixins' as *;
@use './content/doc-content';
@use './content/hero-content';

.page-content {
  @include respond-to('lg') {
    padding-top: var(--nav-height);

    &.has-sidebar {
      padding-left: var(--sidebar-width-sm);
      @include respond-to('xlg') {
        padding-left: var(--sidebar-width-md);
      }
      @include respond-to('xxl') {
        padding-left: calc(
          (100vw - var(--app-max-width)) / 2 + var(--sidebar-width-md)
        );
      }
    }
  }

  .doc-content a {
    display: inline-flex;
    align-items: center;
    &.vp-link {
      white-space: nowrap;
      word-break: keep-all;
    }
    .link-icon {
      margin-left: 0.25rem;
      height: 1em;
      width: 1em;
    }
  }
}
