@use './mixins' as *;

// import components

@use './nav/menu';

.navbar-wrapper {
  @include with-bg;
  position: relative;
  border-bottom: 1px solid var(--border-color);
  padding: 0 12px 0 24px;
  height: var(--header-height);
  top: 0;

  @include respond-to('md') {
    padding: 0 12px 0 32px;
  }

  @include respond-to('xlg') {
    padding: 0 32px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--app-max-width);

    .content {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
    }
  }

  @include respond-to('md') {
    .content {
      padding-top: 1px;
    }
  }
}

.navbar {
  top: 0;
  left: 0;
  position: relative;
  z-index: var(--nav-z-index);
  @include respond-to('lg') {
    position: fixed;
    width: 100%;
  }
}

.menu + .appearance {
  margin-left: 8px;
}
.menu + .social-links {
  margin-left: 12px;
}
.appearance + .social-links {
  margin-left: 12px;
}
