.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}

.dark {
  .row-bg {
    padding: 10px 0;
    background-color: #18191a;
  }

  .bg-purple-light {
    background: #242526;
  }

  .bg-purple {
    background: #46494d;
  }

  .bg-purple-dark {
    background: #667180;
  }
}
