.demo-avatar {
  &.demo-basic {
    text-align: center;

    .demo-basic--circle,
    .demo-basic--square {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .block {
        flex: 1;
      }

      .block:not(:last-child) {
        border-right: 1px solid var(--el-border-color-base);
      }
    }
  }

  .sub-title {
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--el-text-color-secondary);
  }

  .#{$namespace}-col:not(:last-child) {
    border-right: 1px solid var(--el-border-color-base);
  }

  .demo-type {
    display: flex;

    > div {
      flex: 1;
      text-align: center;
    }

    > div:not(:last-child) {
      border-right: 1px solid var(--el-border-color-base);
    }
  }

  .demo-fit {
    display: flex;
    text-align: center;
    justify-content: space-between;

    .block {
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-grow: 0;
    }

    .title {
      margin-bottom: 10px;
      font-size: 14px;
      color: var(--el-text-color-secondary);
    }
  }
}
