.demo-block.demo-button {
  .#{$namespace}-row {
    margin-bottom: 20px;
    align-items: baseline;

    &:last-child {
      margin-bottom: 17px;
    }
  }
  .#{$namespace}-button  {
    margin: 5px 7px;
  }
  .#{$namespace}-button-group {
    .#{$namespace}-button + .#{$namespace}-button {
      margin-left: 0;
    }

    & + .#{$namespace}-button-group {
      margin-left: 10px;
    }
  }
}
