.#{$namespace}-header,
.#{$namespace}-footer {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.#{$namespace}-aside {
  color: #333;
}

.demo-container .common-layout {
  .#{$namespace}-header,
  .#{$namespace}-footer {
    text-align: center;
  }

  .#{$namespace}-aside {
    background-color: #d3dce6;
    text-align: center;
    line-height: 200px;
  }

  .#{$namespace}-main {
    background-color: #e9eef3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  .#{$namespace}-container {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(5) .#{$namespace}-aside,
    &:nth-child(6) .#{$namespace}-aside {
      line-height: 260px;
    }

    &:nth-child(7) .#{$namespace}-aside {
      line-height: 320px;
    }
  }
}
