.demo-block.demo-descriptions {
  .margin-top {
    margin-top: 20px;
  }

  .my-label {
    background: var(--el-color-success-lighter);
  }

  .my-content {
    background: var(--el-color-danger-lighter);
  }
}
