.demo-block.demo-dialog {
  .dialog-footer button:first-child {
    margin-right: 10px;
  }
  .full-image {
    width: 100%;
  }
  .#{$namespace}-dialog__wrapper {
    margin: 0;
  }
  .#{$namespace}-select {
    width: 300px;
  }
  .#{$namespace}-input {
    width: 300px;
  }
  .#{$namespace}-button--text {
    margin-right: 15px;
  }
}
