.demo-block {
  .#{$namespace}-dropdown {
    & + .#{$namespace}-dropdown {
      margin-left: 15px;
    }
  }
  .#{$namespace}-dropdown-link {
    cursor: pointer;
    color: var(--el-color-primary);
  }
  .#{$namespace}-icon-arrow-down {
    font-size: 12px;
  }
}

.block-col-2 {
  margin: -24px;

  .#{$namespace}-col {
    padding: 30px 0;
    text-align: center;
    border-right: 1px solid var(--el-border-color-base);

    &:last-child {
      border-right: 0;
    }
  }
}

.demo-dropdown .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}
