.demo-icon .source > div > i:not(.no-inherit) {
  color: var(--el-text-color-regular);
  margin: 0 20px;
  font-size: 1.5em;
  vertical-align: middle;
}

i.no-inherit {
  margin: 0 20px;
  font-size: 1.5em;
  vertical-align: middle;
}

.demo-icon .source button {
  margin: 0 20px;
}

.page-component .content > ul.icon-list {
  overflow: hidden;
  list-style: none;
  padding: 0 !important;
  border-top: solid 1px var(--el-border-color-base);
  border-left: solid 1px var(--el-border-color-base);
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.icon-list li {
  text-align: center;
  height: 120px;
  line-height: 120px;
  color: var(--el-text-color-regular);
  font-size: 13px;
  border-right: solid 1px var(--el-border-color-base);
  border-bottom: solid 1px var(--el-border-color-base);

  .demo-svg-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
  }

  &::after {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
      'Microsoft YaHei', SimSun, sans-serif;
    color: var(--el-text-color-secondary);
    transition: color 0.15s linear;
  }

  i {
    display: block;
    font-size: 32px;
    margin-bottom: 15px;
    color: var(--el-text-color-regular);
    transition: color 0.15s linear;
  }

  .icon-name {
    display: inline-block;
    padding: 0 3px;
    height: 1em;
  }

  &:hover {
    span,
    i {
      color: var(--el-color-primary);
    }
  }
}
