.demo-block.demo-menu {
  .#{$namespace}-menu-demo {
    padding-left: 55px;
  }
  .#{$namespace}-menu-vertical-demo:not(.#{$namespace}-menu--collapse) {
    width: 240px;
    min-height: 400px;
  }
  .line {
    height: 1px;
    background-color: var(--el-border-color-base);
    margin: 35px -24px;
  }
  h5 {
    font-size: 14px;
    color: var(--el-text-color-secondary);
    margin-top: 10px;
  }
  .tac {
    text-align: center;

    .#{$namespace}-menu-vertical-demo {
      display: inline-block;
      text-align: left;
    }
  }
}
