.demo-pagination .source {
  padding: 0;
}

.demo-pagination .block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color-base);
  display: inline-block;
  width: 50%;
  box-sizing: border-box;

  &:last-child {
    border-right: none;
  }
}

.demo-pagination .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}
