.demo-block.demo-popover {
  .#{$namespace}-popover + .#{$namespace}-popover {
    margin-left: 10px;
  }
  .#{$namespace}-input {
    width: 360px;
  }
  .#{$namespace}-button {
    margin-left: 10px;
  }
}
