.demo-rate .block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color-base);
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  &:last-child {
    border-right: none;
  }
}

.demo-rate .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}
