.#{$namespace}-table .warning-row {
  --el-table-tr-background-color: var(--el-color-warning-lighter);
}

.#{$namespace}-table .success-row {
  --el-table-tr-background-color: var(--el-color-success-lighter);
}

.demo-table .name-wrapper {
  display: inline-block;
}

.demo-table .demo-table-expand {
  label {
    width: 90px;
    color: var(--el-text-color-secondary);
  }
  .#{$namespace}-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
}
