.demo-tooltip {
  .#{$namespace}-tooltip + .#{$namespace}-tooltip {
    margin-left: 15px;
  }
  .box {
    width: 400px;

    .top {
      text-align: center;
    }

    .left {
      float: left;
      width: 60px;
    }

    .right {
      float: right;
      width: 60px;
    }

    .bottom {
      clear: both;
      text-align: center;
    }

    .item {
      margin: 4px;
    }

    .left .#{$namespace}-tooltip__popper,
    .right .#{$namespace}-tooltip__popper {
      padding: 8px 10px;
    }
    .#{$namespace}-tooltip {
      margin-left: 0;
    }
  }
}
