.upload-tip {
  color: var(--el-text-color-secondary);
  font-size: 12px;
  margin-top: 7px;
}
.demo-block {
  margin-bottom: 24px;

  .upload-demo {
    width: 360px;
  }
  .avatar-uploader {
    .#{$namespace}-upload {
      border: 1px dashed var(--el-border-color-base);
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &:hover,
      &:focus {
        border-color: var(--el-color-primary);
      }
    }
    .avatar-uploader-icon {
      font-size: 28px;
      color: var(--el-text-color-secondary);
      width: 178px;
      height: 178px;
      line-height: 178px;
      text-align: center;
    }
    .avatar {
      width: 178px;
      height: 178px;
      display: block;
    }
  }
}
