@import "../mixins/mixins";
@import "../common/var";
@import "../common/transition";

@include b(picker) {
  @include e(popper) {
    @include picker-popper(
      $--color-white,
      1px solid $--datepicker-border-color,
      $--box-shadow-light,
    );
  }
}

@include b(date-editor) {
  position: relative;
  display: inline-block;
  text-align: left;

  &.#{$namespace}-input,
  &.#{$namespace}-input__inner {
    width: 220px;
  }

  @include m((monthrange)) {
    &.#{$namespace}-input,
    &.#{$namespace}-input__inner {
      width: 300px;
    }
  }

  @include m((daterange, timerange)) {
    &.#{$namespace}-input,
    &.#{$namespace}-input__inner {
      width: 350px;
    }
  }

  @include m(datetimerange) {
    &.#{$namespace}-input,
    &.#{$namespace}-input__inner {
      width: 400px;
    }
  }

  @include m(dates) {
    .#{$namespace}-input__inner {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .#{$namespace}-icon-circle-close {
    cursor: pointer;
  }

  .#{$namespace}-range__icon {
    font-size: 14px;
    margin-left: -5px;
    color: $--color-text-placeholder;
    float: left;
    line-height: 32px;
  }

  .#{$namespace}-range-input {
    appearance: none;
    border: none;
    outline: none;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 39%;
    text-align: center;
    font-size: $--font-size-base;
    color: $--color-text-regular;

    &::placeholder {
      color: $--color-text-placeholder;
    }
  }

  .#{$namespace}-range-separator {
    display: inline-block;
    height: 100%;
    padding: 0 5px;
    margin: 0;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    width: 5%;
    color: $--color-text-primary;
  }

  .#{$namespace}-range__close-icon {
    font-size: 14px;
    color: $--color-text-placeholder;
    width: 25px;
    display: inline-block;
    float: right;
    line-height: 32px;
  }
}

@include b(range-editor) {
  &.#{$namespace}-input__inner {
    display: inline-flex;
    align-items: center;
    padding: 3px 10px;
  }

  .#{$namespace}-range-input {
    line-height: 1;
  }

  @include when(active) {
    border-color: $--color-primary;

    &:hover {
      border-color: $--color-primary;
    }
  }

  @include m(medium) {
    line-height: $--input-medium-height;

    &.#{$namespace}-input__inner {
      height: $--input-medium-height;
    }

    .#{$namespace}-range-separator {
      line-height: 28px;
      font-size: $--input-medium-font-size;
    }

    .#{$namespace}-range-input {
      font-size: $--input-medium-font-size;
    }

    .#{$namespace}-range__icon,
    .#{$namespace}-range__close-icon {
      line-height: 28px;
    }
  }

  @include m(small) {
    line-height: $--input-small-height;

    &.#{$namespace}-input__inner {
      height: $--input-small-height;
    }

    .#{$namespace}-range-separator {
      line-height: 24px;
      font-size: $--input-small-font-size;
    }

    .#{$namespace}-range-input {
      font-size: $--input-small-font-size;
    }

    .#{$namespace}-range__icon,
    .#{$namespace}-range__close-icon {
      line-height: 24px;
    }
  }

  @include m(mini) {
    line-height: $--input-mini-height;

    &.#{$namespace}-input__inner {
      height: $--input-mini-height;
    }

    .#{$namespace}-range-separator {
      line-height: 20px;
      font-size: $--input-mini-font-size;
    }

    .#{$namespace}-range-input {
      font-size: $--input-mini-font-size;
    }

    .#{$namespace}-range__icon,
    .#{$namespace}-range__close-icon {
      line-height: 20px;
    }
  }

  @include when(disabled) {
    background-color: $--input-disabled-fill;
    border-color: $--input-disabled-border;
    color: $--input-disabled-color;
    cursor: not-allowed;

    &:hover, &:focus {
      border-color: $--input-disabled-border;
    }

    input {
      background-color: $--input-disabled-fill;
      color: $--input-disabled-color;
      cursor: not-allowed;
      &::placeholder {
        color: $--input-disabled-placeholder-color;
      }
    }

    .#{$namespace}-range-separator {
      color: $--input-disabled-color;
    }
  }
}
