/* Element Chalk Variables */
@use "sass:math";
@use "sass:map";

@import '../mixins/config';

// Special comment for theme configurator
// type|skipAutoTranslation|Category|Order
// skipAutoTranslation 1

/* Color
-------------------------- */
$--colors: () !default;
$--colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #409eff,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $--colors
);

$--color-white: map.get($--colors, 'white');
$--color-black: map.get($--colors, 'black');
$--color-primary: map.get($--colors, 'primary', 'base');
$--color-success: map.get($--colors, 'success', 'base');
$--color-warning: map.get($--colors, 'warning', 'base');
$--color-danger: map.get($--colors, 'danger', 'base');
$--color-error: map.get($--colors, 'error', 'base');
$--color-info: map.get($--colors, 'info', 'base');

// https://sass-lang.com/documentation/values/maps#immutability
@mixin set-color-primary-light($color, $number) {
  $--colors: map.deep-merge(
    $--colors,
    (
      'primary': (
        'light-#{$number}':
          mix($--color-white, $color, math.percentage(math.div($number, 10))),
      ),
    )
  ) !global;
}

// $--color-primary-light-i
// 10% 53a8ff
// 20% 66b1ff
// 30% 79bbff
// 40% 8cc5ff
// 50% a0cfff
// 60% b3d8ff
// 70% c6e2ff
// 80% d9ecff
// 90% ecf5ff
@for $i from 1 through 9 {
  @include set-color-primary-light(map.get($--colors, 'primary', 'base'), $i);
}

// generate
// $--colors.success.light: mix($--color-white, $--color-success, 80%) !default;
// $--colors.success.lighter: mix($--color-white, $--color-success, 90%) !default;
@mixin set-color-type-light($type) {
  $--colors: map.deep-merge(
    $--colors,
    (
      $type: (
        'light': mix($--color-white, map.get($--colors, $type, 'base'), 80%),
        'lighter': mix($--color-white, map.get($--colors, $type, 'base'), 90%),
      ),
    )
  ) !global;
}

@each $type in (success, warning, danger, error, info) {
  @include set-color-type-light($type);
}

$--text-color: () !default;
$--text-color: map.merge(
  (
    'primary': #303133,
    'regular': #606266,
    'secondary': #909399,
    'placeholder': #c0c4cc,
  ),
  $--text-color
);

$--border-color: () !default;
$--border-color: map.merge(
  (
    'base': #dcdfe6,
    'light': #e4e7ed,
    'lighter': #ebeef5,
    'extra-light': #f2f6fc,
  ),
  $--border-color
);

// Background
/// color|1|Background Color|4
$--background-color-base: #f5f7fa !default;

/* Link
-------------------------- */
$--link-color: map.get($--colors, 'primary', 'light-2') !default;
$--link-hover-color: $--color-primary !default;

/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-hover: var(--el-text-color-placeholder) !default;
$--border-base: $--border-width-base $--border-style-base
  map.get($--border-color, 'base') !default;
/// borderRadius|1|Radius|0

$--border-radius: () !default;
$--border-radius: map.merge(
  (
    'base': 4px,
    'small': 2px,
    'round': 20px,
    'circle': 100%,
  ),
  $--border-radius
);

// Box-shadow
$--box-shadow: () !default;
$--box-shadow: map.merge(
  (
    'base': (
      0 2px 4px rgba(0, 0, 0, 0.12),
      0 0 6px rgba(0, 0, 0, 0.04),
    ),
    'light': 0 2px 12px 0 rgba(0, 0, 0, 0.1),
  ),
  $--box-shadow
);

/* Typography
-------------------------- */
$--font-path: 'fonts' !default;
$--font-display: 'auto' !default;

$--font-size: () !default;
$--font-size: map.merge(
  (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 14px,
    'small': 13px,
    'extra-small': 12px,
  ),
  $--font-size
);

/* Disable base
-------------------------- */
$--disabled-fill-base: $--background-color-base !default;
$--disabled-color-base: var(--el-text-color-placeholder) !default;
$--disabled-border-base: map.get($--border-color, 'light') !default;

/* Checkbox
-------------------------- */

// Checkbox
// refactor with css3 var
// See packages/theme-chalk/src/checkbox.scss

/* Radio
-------------------------- */
/// fontSize||Font|1
$--radio-font-size: map.get($--font-size, 'base') !default;
/// color||Color|0
$--radio-font-color: var(--el-text-color-regular) !default;
$--radio-input-height: 14px !default;
$--radio-input-width: 14px !default;
/// borderRadius||Border|2
$--radio-input-border-radius: var(--el-border-radius-circle) !default;
/// color||Color|0
$--radio-input-background-color: $--color-white !default;
$--radio-input-border: $--border-base !default;
/// color||Color|0
$--radio-input-border-color: map.get($--border-color, 'base') !default;

$--radio-disabled-input-border-color: $--disabled-border-base !default;
$--radio-disabled-input-fill: $--disabled-fill-base !default;
$--radio-disabled-icon-color: $--disabled-fill-base !default;

$--radio-disabled-checked-input-border-color: $--disabled-border-base !default;
$--radio-disabled-checked-input-fill: $--disabled-fill-base !default;
$--radio-disabled-checked-icon-color: var(--el-text-color-placeholder) !default;

/// color||Color|0
$--radio-checked-font-color: $--color-primary !default;
/// color||Color|0
$--radio-checked-input-border-color: $--color-primary !default;
/// color||Color|0
$--radio-checked-icon-color: $--color-primary !default;

$--radio-input-border-color-hover: $--color-primary !default;

$--radio-bordered-padding: () !default;
$--radio-bordered-padding: map.merge(
  (
    'default': 12px 20px 0 10px,
    'medium': 10px 20px 0 10px,
    'small': 8px 15px 0 10px,
    'mini': 6px 15px 0 10px,
  ),
  $--radio-bordered-padding
);

$--radio-bordered-input-height: () !default;
$--radio-bordered-input-height: map.merge(
  (
    'medium': 14px,
    'small': 12px,
    'mini': 12px,
  ),
  $--radio-bordered-input-height
);

$--radio-bordered-input-width: () !default;
$--radio-bordered-input-width: map.merge(
  (
    'medium': 14px,
    'small': 12px,
    'mini': 12px,
  ),
  $--radio-bordered-input-width
);

$--radio-bordered-height: () !default;
$--radio-bordered-height: map.merge(
  (
    'default': 40px,
    'medium': 36px,
    'small': 32px,
    'mini': 28px,
  ),
  $--radio-bordered-height
);

/// color||Color|0
$--radio-button-checked-background-color: $--color-primary !default;
/// color||Color|0
$--radio-button-checked-font-color: $--color-white !default;
/// color||Color|0
$--radio-button-checked-border-color: $--color-primary !default;
$--radio-button-disabled-checked-fill: map.get(
  $--border-color,
  'extra-light'
) !default;

/* Select
-------------------------- */
$--select-border-color-hover: $--border-color-hover !default;
$--select-disabled-border: $--disabled-border-base !default;
/// fontSize||Font|1
$--select-font-size: map.get($--font-size, 'base') !default;
$--select-close-hover-color: var(--el-text-color-secondary) !default;

$--select-input-color: var(--el-text-color-placeholder) !default;
$--select-multiple-input-color: #666 !default;
/// color||Color|0
$--select-input-focus-border-color: $--color-primary !default;
/// fontSize||Font|1
$--select-input-font-size: 14px !default;

$--select-option-color: var(--el-text-color-regular) !default;
$--select-option-disabled-color: var(--el-text-color-placeholder) !default;
/// height||Other|4
$--select-option-height: 34px !default;
$--select-option-hover-background: $--background-color-base !default;
/// color||Color|0
$--select-option-selected-font-color: $--color-primary !default;

$--select-group-color: $--color-info !default;
$--select-group-height: 30px !default;
$--select-group-font-size: 12px !default;

$--select-dropdown-background: $--color-white !default;
$--select-dropdown-shadow: var(--el-box-shadow-light) !default;
$--select-dropdown-empty-color: #999 !default;
/// height||Other|4
$--select-dropdown-max-height: 274px !default;
$--select-dropdown-padding: 6px 0 !default;
$--select-dropdown-empty-padding: 10px 0 !default;
$--select-dropdown-border: solid 1px map.get($--border-color, 'light') !default;

/* Alert
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/alert.scss

/* MessageBox
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/message-box.scss

/* Message
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/message.scss

/* Notification
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/notification.scss

/* Input
-------------------------- */
/// color||Color|0
$--input-font-color: var(--el-text-color-regular) !default;

$--input-border: $--border-base !default;
$--input-border-color: map.get($--border-color, 'base') !default;
/// borderRadius||Border|2
$--input-border-radius: var(--el-border-radius-base) !default;
/// color||Color|0
$--input-background-color: $--color-white !default;
/// color||Color|0
$--input-icon-color: var(--el-text-color-placeholder) !default;
/// color||Color|0
$--input-placeholder-color: var(--el-text-color-placeholder) !default;

$--input-hover-border: $--border-color-hover !default;
$--input-clear-hover-color: var(--el-text-color-secondary) !default;

$--input-focus-border: $--color-primary !default;

$--input-disabled-fill: $--disabled-fill-base !default;
$--input-disabled-border: $--disabled-border-base !default;
$--input-disabled-color: $--disabled-color-base !default;
$--input-disabled-placeholder-color: var(--el-text-color-placeholder) !default;

$--input-font-size: () !default;
$--input-font-size: map.merge(
  (
    'default': map.get($--font-size, 'base'),
    'medium': 14px,
    'small': 13px,
    'mini': 12px,
  ),
  $--input-font-size
);

$--input-height: () !default;
$--input-height: map.merge(
  (
    'default': 40px,
    'medium': 36px,
    'small': 32px,
    'mini': 28px,
  ),
  $--input-height
);

$--input-line-height: () !default;
$--input-line-height: map.merge(
  (
    'medium': 28px,
    'small': 24px,
    'mini': 20px,
  ),
  $--input-line-height
);

$--input-number-width: () !default;
$--input-number-width: map.merge(
  (
    'medium': 200px,
    'small': 130px,
    'mini': 130px,
  ),
  $--input-number-width
);

/* Cascader
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/cascader.scss

/* Button
-------------------------- */
$--button-font-size: () !default;
$--button-font-size: map.merge(
  (
    'default': map.get($--font-size, 'base'),
    'medium': map.get($--font-size, 'base'),
    'small': 12px,
    'mini': 12px,
  ),
  $--button-font-size
);

$--button-border-radius: () !default;
$--button-border-radius: map.merge(
  (
    'default': var(--el-border-radius-base),
    'medium': var(--el-border-radius-base),
    'small': calc(var(--el-border-radius-base) - 1px),
    'mini': calc(var(--el-border-radius-base) - 1px),
  ),
  $--button-border-radius
);

$--button-padding-vertical: () !default;
$--button-padding-vertical: map.merge(
  (
    'default': 12px,
    'medium': 10px,
    'small': 9px,
    'mini': 7px,
  ),
  $--button-padding-vertical
);

$--button-padding-horizontal: () !default;
$--button-padding-horizontal: map.merge(
  (
    'default': 20px,
    'medium': 20px,
    'small': 15px,
    'mini': 15px,
  ),
  $--button-padding-horizontal
);

// need mix
$--button-default-border-color: map.get($--border-color, 'base') !default;

$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;

/* Switch
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/switch.scss

/* Dialog
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/dialog.scss

/* Table
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/table.scss

/* Pagination
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/pagination.scss

/* Popup
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/popup.scss

/* Popover
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/popover.scss

/* Tooltip
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/tooltip.scss

/* Tag
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/tag.scss

/* Tree
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/tree.scss

/* Dropdown
-------------------------- */
$--dropdown-menu-box-shadow: var(--el-box-shadow-light) !default;
$--dropdown-menuItem-hover-fill: map.get(
  $--colors,
  'primary',
  'light-9'
) !default;
$--dropdown-menuItem-hover-color: $--link-color !default;
$--dropdown-menu-index: 10 !default;

/* Badge
-------------------------- */
/// color||Color|0
$--badge-background-color: $--color-danger !default;
$--badge-radius: 10px !default;
/// fontSize||Font|1
$--badge-font-size: 12px !default;
/// padding||Spacing|3
$--badge-padding: 6px !default;
/// height||Other|4
$--badge-size: 18px !default;

/* Card
--------------------------*/
/// color||Color|0
$--card-border-color: map.get($--border-color, 'lighter') !default;
$--card-border-radius: 4px !default;
/// padding||Spacing|3
$--card-padding: 20px !default;

/* Slider
--------------------------*/
/// color||Color|0
$--slider-main-background-color: $--color-primary !default;
/// color||Color|0
$--slider-runway-background-color: map.get($--border-color, 'light') !default;
$--slider-stop-background-color: $--color-white !default;
$--slider-disable-color: var(--el-text-color-placeholder) !default;
$--slider-margin: 16px 0 !default;
$--slider-border-radius: 3px !default;
/// height|1|Other|4
$--slider-height: 6px !default;
/// height||Other|4
$--slider-button-size: 20px !default;
$--slider-button-wrapper-size: 36px !default;
$--slider-button-wrapper-offset: -15px !default;

/* Menu
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/menu.scss

/* Rate
--------------------------*/
$--rate-height: 20px !default;
/// fontSize||Font|1
$--rate-font-size: map.get($--font-size, 'base') !default;
/// height||Other|3
$--rate-icon-size: 18px !default;
/// margin||Spacing|2
$--rate-icon-margin: 6px !default;
$--rate-icon-color: var(--el-text-color-placeholder) !default;

/* DatePicker
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/date-picker.scss

/* Loading
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/loading.scss

/* Scrollbar
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/scrollbar.scss

/* Carousel
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/carousel.scss

/* Collapse
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/collapse.scss

/* Transfer
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/transfer.scss

/* Timeline
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/timeline-item.scss

/* Backtop
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/backtop.scss

/* Link
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/link.scss

/* Calendar
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/calendar.scss

/* Form
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/form.scss

/* Avatar
--------------------------*/
// refactor with css3 var
// See packages/theme-chalk/src/avatar.scss

/* Empty
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/empty.scss

/* Descriptions
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/descriptions.scss

/* Result
-------------------------- */
// refactor with css3 var
// See packages/theme-chalk/src/result.scss

/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs': '(max-width: #{$--sm})',
  'sm': '(min-width: #{$--sm})',
  'md': '(min-width: #{$--md})',
  'lg': '(min-width: #{$--lg})',
  'xl': '(min-width: #{$--xl})',
) !default;

$--breakpoints-spec: (
  'xs-only': '(max-width: #{$--sm})',
  'sm-and-up': '(min-width: #{$--sm})',
  'sm-only': '(min-width: #{$--sm}) and (max-width: #{$--md})',
  'sm-and-down': '(max-width: #{$--md})',
  'md-and-up': '(min-width: #{$--md})',
  'md-only': '(min-width: #{$--md}) and (max-width: #{$--lg})',
  'md-and-down': '(max-width: #{$--lg})',
  'lg-and-up': '(min-width: #{$--lg})',
  'lg-only': '(min-width: #{$--lg}) and (max-width: #{$--xl})',
  'lg-and-down': '(max-width: #{$--xl})',
  'xl-only': '(min-width: #{$--xl})',
) !default;
