:root {
  --text-color: var(--el-text-color-primary);
  --font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', SimSun, sans-serif;
  --brand-color: var(--el-color-primary);
  --brand-color-light: var(--el-color-primary-light-1);
  --bg-brand-color: var(--el-color-primary-light-9);
  --bg-color: var(--el-color-white);
  --border-color: var(--el-border-color-base);

  //
  --success-color: var(--el-color-success);
  --warning-color: var(--el-color-warning);
  --danger-color: var(--el-color-danger);

  //
  --header-height: 80px;
  --header-item-height: 36px;
  --header-z-index: 10;

  --sidebar-z-index: 6;

  // doc search

  --docsearch-key-gradient: rgba(125, 125, 125, 0.1);
  --docsearch-key-shadow: rgba(125, 125, 125, 0.3);
  --docsearch-footer-height: 44px;
  --docsearch-footer-background: #fff;
  --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8,
    0 -3px 6px 0 rgba(69, 98, 155, 0.12);
  --docsearch-searchbox-background: rgba(242, 242, 242, 0.5);
  --docsearch-muted-color: var(--el-text-color-secondary);
}
// breakpoints

$breakpoint-lg: 1024px !default;
$breakpoint-md: 768px !default;
$breakpoint-sm: 480px !default;
