// css variables
:root {
  --text-color: var(--el-text-color-primary);
  --text-color-light: var(--el-text-color-regular);
  --text-color-lighter: var(--el-text-color-secondary);

  --brand-color: var(--el-color-primary);
  --brand-color-light: var(--el-color-primary-light-1);
  --bg-brand-color: var(--el-color-primary-light-9);
  --bg-color: var(--el-color-white);
  --border-color: var(--el-border-color-base);

  --font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;

  --font-family-mono: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;

  // info
  --success-color: var(--el-color-success);
  --warning-color: var(--el-color-warning);
  --danger-color: var(--el-color-danger);

  // header vars
  --header-height: 80px;
  --header-item-height: 36px;
  --header-z-index: 10;

  --sidebar-z-index: 6;

  // doc search vars
  --docsearch-primary-color: var(--brand-color);
  --docsearch-searchbox-background: var(--el-background-color-base);

  // code block vars

  --code-bg-color: var(--el-background-color-base);
  --code-text-color: var(--text-color);
  --code-font-family: var(--font-family-mono);
}

// SCSS variables
// breakpoints
$breakpoint-lg: 1024px !default;
$breakpoint-md: 768px !default;
$breakpoint-sm: 480px !default;
