name: Staging Preview

on:
  push:
    branches:
      - 'dev'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'element-plus' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Compile Element Plus
        run: pnpm build

      - name: Init Crowdin token
        run: pnpm run docs:crowdin-credentials
        env:
          CROWDIN_TOKEN: ${{secrets.CROWDIN_TOKEN}}

      - name: Upload source files
        run: cd docs && pnpm exec crowdin upload sources

      - name: Pull Crowdin translations
        run: cd docs && pnpm exec crowdin download

      - name: Generate common locale
        run: pnpm docs:gen-locale

      - name: Build website
        run: pnpm docs:build
        env:
          DOC_ENV: staging
          NODE_OPTIONS: --max-old-space-size=4096

      - name: Deploy staging website
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          token: ${{ secrets.EP_BOT_TOKEN }}
          branch: main
          folder: docs/.vitepress/dist
          repository-name: element-plus/staging
          git-config-name: ElementPlusBot
          git-config-email: hello@element-plus.org
